@page "/"
@using DungeonMastersArchive.Data
@using DungeonMastersArchive.Models.Article
@using DungeonMastersArchive.Services
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Identity

@inject IArticleService ArticleService
@inject UserManager<ApplicationUser> UserManager

@attribute [Authorize]


@if (_model == null)
{
    <p>allt är null</p>
}
else
{

@*     <AuthorizeView>
        <MudText Class="mb-4">Hello @context.User.Identity?.Name!</MudText>
    </AuthorizeView> *@
    <MudPaper Class="pa-6 ma-2" Elevation="3">
        <MudStack Row="true">
            <MudSpacer />
            <MudTimeline Modifiers="true" Class="" TimelinePosition="TimelinePosition.Alternate">
                @foreach (var articleYear in _model.OrderByDescending(m => m.Key))
                {
                    @foreach (var article in articleYear.Value.OrderByDescending(m => m.SortOrderNumber))
                    {
                        <MudTimelineItem TimelineAlign="TimelineAlign.Default">
                            <ItemOpposite>
                                <MudButton Href="@($"/article/{article.Id}")" Variant="Variant.Text">
                                    <MudText Typo="Typo.h6">@article.TimelineDate</MudText>
                                </MudButton>
                            </ItemOpposite>
                            <ItemContent>
                                <MudCard Elevation="5" Style="max-width:30em;">
                                    <MudButton Href="@($"/article/{article.Id}")" Variant="Variant.Text">
                                        <MudCardContent>
                                            @if (!string.IsNullOrEmpty(article.ArticleName))
                                            {
                                                <MudText Typo="Typo.h6">@article.ArticleName</MudText>
                                            }
                                            <MudText Typo="Typo.body1">@((MarkupString)article.ArticleText)</MudText>
                                        </MudCardContent>
                                    </MudButton>

                                </MudCard>
                            </ItemContent>
                        </MudTimelineItem>
                    }
                    <MudTimelineItem TimelineAlign="TimelineAlign.End">
                        <ItemDot>
                            <MudPaper Class="pa-2" Elevation="24">
                                <MudText Style="width:30em;" Align="Align.Center" Typo="Typo.h5">@($"År {articleYear.Key} enligt Jorges kalender.")</MudText>
                            </MudPaper>
                        </ItemDot>
                    </MudTimelineItem>
                }
            </MudTimeline>
            <MudSpacer />
        </MudStack>
    </MudPaper>
}



@code {
    private Dictionary<int, List<TimelineArticle>> _model;


    protected override async Task OnInitializedAsync()
    {
        
    }

    protected override async Task OnParametersSetAsync()
    {
        _model = await ArticleService.GetTimeline(2);
    }
}